# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build outputs & frontend dist
dist
dist-ssr
*.local

# Electron build artifacts & unpacked binaries
release/
out/
build/
*.app
*.dmg
*.exe
*.msi
*.deb
*.rpm
*.AppImage
*.blockmap
*.yml
!build/icon.ico
!public/icon.ico

# IDEs & Editor configs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example